
# Python

__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/


# Data files

data/

# CSVs
# *.csv


# Spark / Big Data outputs

BIG_DATA_VITESSE/output/
*.crc
_SUCCESS

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

#datasets
BigData_implementation/big-data-pipeline/datasets/