# Python cache files
__pycache__/

# Virtual environment
venv/
env/
.venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Data files (IMPORTANT for your case)
data/
*.csv


# Logs
*.log

# OS files
.DS_Store
Thumbs.db